*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    
}

.container{
    height: 80%;
    width: 80vw;
    background-color: aqua;
    margin:20px;
    display: flex;
    flex-direction: row ; 
    /*(x-axis) flex-start flex-end, center , space-between,space-around, space-evenly*/

    justify-content: center;
     /*(y-axis) flex-start, flex-end, center*/
    align-items: center;
    flex-wrap: wrap;
    
}
.item{
    height: 100px;
    width: 100px;
    background-color: navy;
    font-size: 30px;
    text-align: center;
    border: 2px solid red;

}