*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body,html{
    height: 100%;
    width: 100%;

}
.container{
    height: 100%;
    width: 100%;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8%; 
  
}
.header{
   
    padding: 40px;
    font-size: 70px;

}
.input{
    display: flex;
    flex-direction: column;
    gap: 20px;


}
.first_input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}
.first_input>p{
    padding: 20 px 30px;
    background-color: purple;
    color:#ffff;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}
input{
    background-color: #ffff;
    width: 60vw;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid rgb(185, 178, 178);
}
#second-input{
    width: 67vw;
}
.input>select{
    background-color:#ffff;
    width: 67vw;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 15px;
    
}